@charset "UTF-8";
/* =======================================
                  Main
======================================= */
/* スムーススクロール時の余白 */
.offset:before {
  display: block;
  content: "";
  height: 3.9rem;
  margin-top: -3.9rem;
}
.full-screen {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: relative;
}
.narrow {
	width: 75%;
	margin: auto;
	padding-top: 2rem;
}
h2.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background: #9999FF;
  margin: 0 auto 1rem;
}
// フルスクリーン準備・画像は個別に指定
/*--- iOS Fixed Background Image --*/
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  z-index: -1; /* 追記 */
}
.dark {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.light {
  background: rgba(225, 225, 225, 0.5);
  color: #000;
}
/* =========== Message Section =========== */
#message h3 {
	padding: 0 0 2rem;
}
.message {
	max-width: 700px;
  text-shadow: 2px 2px 4px #333;
}
#message .fixed-wrap .fixed {
  /* 固定背景の設定 */
  background-image: url(../img/bg-msg.jpg) !important;
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
#message .fixed-wrap .fixed:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
/* =========== About Section =========== */
.my-photo img {
	width: 80%;
	height: auto;
}
.my-name {
  margin: 1rem;
  text-transform: capitalize;
}
#about table {
	min-width: 405px;
}
#about table tbody tr th {
  color: inherit;
  background-color: #F1F1F1;
  vertical-align: inherit;
}
#about table tbody tr td {
  color: inherit;
  background-color: #F8F8F8;
  vertical-align: inherit;
}
span.sm {
	font-size: .9rem;
}

/* =========== Skill Section =========== */
#skill .fixed {
  /* 固定背景の設定 */
  background-image: url(../img/computer.jpg) !important;
  z-index: -2;
}
.icon {
	padding: 2rem;
}
#skill img {
  width: 100%;
  height:100%;
  max-width: 100px;
  max-height: 100px;
  padding:1rem;
}
/* =========== Service Section =========== */

/* =========== Portfolio Section =========== */
#portfolio .fixed {
  /* 固定背景の設定 */
  background-image: url(../img/triangles.png) !important;
  z-index: -2;
}

/* =========== Contact Section =========== */
