@charset "UTF-8";
/* =======================================
                  Navigation
======================================= */
.navbar {
  color: transparent;
  background-color: transparent !important;// .bg-dark { background-color: #343a40!important; }
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase; /* 大文字 */
  &.show {
  	background: rgba(0, 0, 0, 0.7);
  }
}
.navbar-nav li {
  padding-right: .7rem;
}
#navbarResponsive ul li a {
	font-size: 1rem;
	color: #fff;
	padding: .8rem;
	&.active,
	&:hover
	{
		color: #9999FF;
		background-color: transparent;
	}
}



/*====== JS setting ======*/
/* NAVBAR TRANSPARENT TO SOLID(JS) */
.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}