@charset "UTF-8";
/* =======================================
                  Navigation
======================================= */
.navbar {
  text-transform: uppercase; /* 大文字 */
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem; /* 文字間隔 */
  background-color: transparent !important;
  color: transparent;
}
.navbar-nav li {
  padding-right: .7rem;
}
#navbarResponsive ul li a {
	color: #fff;
	padding: .8rem;
	&:active,
	&:hover
	{
		color: #9999FF;
		background-color: transparent;
	}
}
